@model List<Community.ViewModels.GroupViewModels.RequestViewModel>
<script type="text/javascript">
    function acceptGroupMember(memberId, groupId) {
        $.ajax({
            url: '@Url.Action("AcceptGroupRequest", "Group")',
            data: "id=" + memberId,
            type: "GET",
            success: function() {
                updateGroupPage(groupId);
            },
            error: function(passParams) {
            }
        });
    }

    function denyGroupMember(memberId, groupId) {
        $.ajax({
            url: '@Url.Action("DenyGroupRequest", "Group")',
            data: "id=" + memberId,
            type: "GET",
            success: function() {
                updateGroupPage(groupId);
            },
            error: function(passParams) {
            }
        });
    }

    function updateGroupPage(groupId) {
        $.ajax({
            url: '@Url.Action("_GroupMembers", "Group")',
            data: "id=" + groupId,
            type: "GET",
            success: function(data) {
                $('#showGroupMembers').html(data);
            },
            error: function(passParams) {
            }
        });

        $.ajax({
            url: '@Url.Action("_GroupRequests", "Group")',
            data: "id=" + groupId,
            type: "GET",
            success: function(data) {
                $('#showGroupRequest').html(data);
            },
            error: function(passParams) {
            }
        });
    }

</script>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Group Request
                </h3>
                <span class="pull-right clickable"><i class=""></i></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    @if (@Model.Count > 0)
                    {
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                    Username
                                </th>
                                <th>
                                    Firstname
                                </th>
                                <th>
                                    Lastname
                                </th>
                                <th>
                                    Email
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            @for (var i = 0; i < @Model.Count; i++)
                            {
                                <tr class="danger">
                                    <td>
                                        @(i + 1)
                                    </td>
                                    <td>
                                        @Model[i].UserName
                                    </td>
                                    <td>
                                        @Model[i].FirstName
                                    </td>
                                    <td>
                                        @Model[i].LastName
                                    </td>

                                    <td>
                                        @Model[i].Email
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-success" onclick="acceptGroupMember(@Model[i].MemberId, @Model[i].GroupId)">
                                            Accept
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </a>
                                        <a class="btn btn-sm btn-danger" onclick="denyGroupMember(@Model[i].MemberId, @Model[i].GroupId)">
                                            Deny
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr></tr>
                            }

                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h4>You have no new requset!</h4>
                    }
                </div>
            </div>
        </div>
    </div>
</div>