@using Community.ViewModels.UserViewModels
@model UserViewModel
<div class="row">
    <div class="col-md-12">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
            <br>
            <p class=" text-info">@DateTime.Now </p>
        </div>
        <div class="panel panel-primary" style="margin-top: 100px">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.FirstName @Model.LastName</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center">
                        <img alt="User Pic" src="https://qbservices.net/wp-content/uploads/2015/06/User.png" class="img-circle img-responsive">
                    </div>

                    <div class=" col-md-9 col-lg-7 ">
                        <table class="table table-user-information">
                            <tbody>
                            <tr>
                                <td>First Name</td>
                                <td>@Model.FirstName</td>
                            </tr>

                            <tr>
                                <td>Last Name</td>
                                <td>@Model.LastName</td>
                            </tr>
                            <tr>
                                <td>Date of Birth</td>
                                <td></td>
                            </tr>

                            <tr>
                            <tr>
                                <td>User Name</td>
                                <td>@Model.UserName</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>
                                    <a href="mailto:@Model.Email">@Model.Email</a>
                                </td>
                            </tr>

                            <tr>
                                <td>Last time login</td>
                                <td>
                                    @UserViewModel.LastTimeLogin

                                </td>

                            </tr>
                            <tr>
                                <td>Number of logins</td>
                                <td>
                                    @UserViewModel.NrOfLogins
                                </td>
                            </tr>

                            </tbody>

                        </table>
                        <button class="btn  btn-primary  " style="font-size: 20px;" onclick="location.href = '@Url.Action("Inbox", "Message")'">
                            <span class=" ">Message</span>
                        </button>
                        @if (@Model.NrOfNewMessages > 0)
                        {
                            <span class="badge badge-notify">@Model.NrOfNewMessages</span>
                        }

                        <button class="btn  btn-warning  " style="font-size: 20px" onclick="location.href = '@Url.Action("Index", "Group")'">
                            <span class=" ">Group notification</span>
                        </button>
                        <span class="badge badge-notify"></span>


                    </div>
                </div>
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>

</div>